body {
    background: #0e0e0e;
}

h1 {
    margin: 15px;
    color: #fff;
    font-family: 'Segue Ui';
}

p {
    color: #fff;
    font-family: 'Segue Ui';
}

div {
    background: #242424;
    border-color: white;
    border: 5px;
    border-radius: 20px;
}

div p {
    margin: 0;
    margin-top: 5px;
    padding: 15px;
    color: #fff;
    font-family: 'Lucida Sans';
    font-size: 17px;
}

div h3 {
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 0;
    color: #fff;
    font-family: 'Times New Roman';
    font-size: 25px;
}

div {
    padding: 20px;
    margin: 10px;
    font-family: Consolas;
    color: #fff;
}

div th,
td {
    border: solid rgb(255, 255, 255) 1px;
    text-align: center;
    padding: 5px;
}

div caption {
    font-size: 20px;
}

button.download {
    padding: 10px;
    border: 3px;
    border-radius: 15px;
    background-color: #338bff;
    font-family: "Arial Black";
    color: #d7d7d7;
}

button.download:hover {
    background-color: #1169ff;
}

button.download:active {
    background-color: #0058ff;
}