body {
    background: #373737;
}

h1 {
    margin: 15px;
    color: #fff;
    font-family: 'Segue Ui';
}

div {
    background: #666;
    border-color: white;
    border: 5px;
    border-radius: 20px;
}

div p {
    margin: 0;
    margin-top: 5px;
    padding: 15px;
    color: #fff;
    font-family: 'Lucida Sans';
    font-size: 17px;
}

div h4 {
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 0;
    color: #fff;
    font-family: 'Times New Roman';
    font-size: 25px;
}

div#apps{
    padding:20px;
}

div#apps th,
td {
    border: solid black;
    text-align: center;
    padding: 5px;
}

div#apps tbody th,td{
    font-family:Consolas
}

div#apps caption {
    font-size: 20px;
}