body {
    background: #373737;
}

h1 {
    margin: 15px;
    color: #fff;
    font-family: 'Segue Ui';
}

p{
    color: #fff;
    font-family: 'Segue Ui';
}

div {
    background: #666;
    border-color: white;
    border: 5px;
    border-radius: 20px;
}

div p {
    margin: 0;
    margin-top: 5px;
    padding: 15px;
    color: #fff;
    font-family: 'Lucida Sans';
    font-size: 17px;
}

div h3 {
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 0;
    color: #fff;
    font-family: 'Times New Roman';
    font-size: 25px;
}

div {
    padding: 20px;
    margin: 10px;
}

div th,
td {
    border: solid black;
    text-align: center;
    padding: 5px;
}

div tbody th,
td {
    font-family: Consolas
}

div caption {
    font-size: 20px;
}

button.download {
    padding: 10px;
    border:3px;
    border-radius: 15px;
    background-color: rgb(95, 165, 255);
    font-family: "Arial Black";
    color:#d7d7d7;
}
button.download:hover{
    background-color: rgb(68, 118, 183);
}
button.download:active{
    background-color: rgb(52, 90, 140);
}